In [1]:
import pandas as pd

In [2]:
date = 201803
df = pd.read_excel('data/{}bb.xlsx'.format(date))
df.columns = [col.lower() for col in df]

df_xq = pd.read_excel('data/{}xq.xlsx'.format(date))
df_xq.columns = [col.lower() for col in df_xq]
df = df.append(df_xq)

students_lib = pd.read_excel('data/兰州理工大学在籍学籍库.xlsx')
students_lib.columns = [col.lower() for col in students_lib]

students_list = pd.read_excel('data/在籍在校学生名单.xls')
students_list.columns = [col.lower() for col in students_list]

df = pd.merge(students_lib, df, left_on='sfzh', right_on='zjh')
df = pd.merge(students_list, df, left_on='身份证号', right_on='sfzh')
df.shape

(4916, 53)

In [3]:
df['subject'] = df['zkzh'].map(lambda x: str(x)[0:2])
subject = df[df['cj'] >= 60].groupby('subject').count()['cj'] / df.groupby('subject').count()['cj']

In [4]:
subject

subject
14    0.416667
15    0.728723
16    0.666667
24    0.192726
26    0.179104
28    0.171429
29    0.133333
35    0.510204
36    0.250000
38    0.323529
39    0.241379
41    0.377358
42    0.133333
44    0.153846
45    0.500000
61    0.023256
63    0.500000
64    1.000000
65    0.152497
Name: cj, dtype: float64

In [5]:
subject_dict = {'14':'二级C语言', '15':'二级JAva', '16':'三级网络技术', '24':'一级Office', '26':'a', '28':'b', '29':'c', '35':'d', '36':'e', '38':'f', '39':'g', '41':'h','42':'i', '44':'g', '45':'k', '61':'l', '63':'m', '64':'n', '65':'o'}

In [6]:
subject_dict.values()

dict_values(['二级C语言', '二级JAva', '三级网络技术', '一级Office', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'g', 'k', 'l', 'm', 'n', 'o'])

In [7]:
subject.rename(subject_dict)
subject.index

Index(['14', '15', '16', '24', '26', '28', '29', '35', '36', '38', '39', '41',
       '42', '44', '45', '61', '63', '64', '65'],
      dtype='object', name='subject')

In [8]:
jg = df[df['cj'] >= 60].groupby('籍贯').count()['cj'] / df.groupby('籍贯').count()['cj']
jg = jg.dropna()

In [9]:
jg.values

array([0.19230769, 0.25      , 0.16666667, 0.36      , 0.19354839,
       0.18518519, 0.32142857, 0.35251799, 0.27835052, 0.28947368,
       0.06896552, 0.10810811, 0.34108527, 0.34285714, 0.37864078,
       0.32638889, 0.37313433, 0.13333333, 0.35897436, 0.32894737,
       0.22788698, 0.1627907 , 0.21428571, 0.18518519, 0.33333333,
       0.26666667, 0.2195122 ])

In [10]:
res = df[df['cj']>=60]['sfzh'].count() / df['sfzh'].count()
res

0.24735557363710334

In [11]:
round(res, 2)

0.25

In [12]:
df.shape

(4916, 54)

In [13]:
# We create a list of Python dictionaries
# 创建一个字典列表
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]

# 创建一个DataFrame并设置行索引
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])

# 显示
store_items

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1     20      NaN     30    15.0      8   45.0       35
store 2     15     50.0      5     2.0      5    7.0       10
store 3     20      4.0     30     NaN     10    NaN       35

In [14]:
store_items.count()

bikes      3
glasses    2
pants      3
shirts     2
shoes      3
suits      2
watches    3
dtype: int64

In [17]:
df[df['cj']<60]['sfzh'].count()

3700

In [20]:
s = pd.Series()

In [23]:
df.head()

,学号,姓名,性别,学院,专业名称_x,行政班,年级,出生日期,政治面貌,民族,...,xm_y,xb_y,csrq_y,zjh,cj,dd,zsbh,zszy,bz,subject
0,1401050101,胡海涛,男,材料科学与工程学院,材料成型及控制工程,材料成型及控制工程14级1班,2014,19960602,共青团员,汉族,...,胡海涛,1,19960602,340823199606021218,62,1,2.451620e+13,0,NaN,24
1,1401050102,陶征普,男,材料科学与工程学院,材料成型及控制工程,材料成型及控制工程14级1班,2014,19931011,共青团员,汉族,...,陶征普,1,19931011,340221199310114356,0,-1,NaN,0,NaN,24
2,1401050102,陶征普,男,材料科学与工程学院,材料成型及控制工程,材料成型及控制工程14级1班,2014,19931011,共青团员,汉族,...,陶征普,1,19931011,340221199310114356,0,-1,NaN,0,NaN,35
3,1401050144,周杰,男,材料科学与工程学院,材料成型及控制工程,材料成型及控制工程14级1班,2014,19950311,共青团员,汉族,...,周杰,1,19950311,220102199503115011,75,1,6.551620e+13,1,NaN,65
4,1401050151,秦伦,男,材料科学与工程学院,材料成型及控制工程,材料成型及控制工程14级1班,2014,19940518,共青团员,汉族,...,秦伦,1,19940518,640103199405180615,0,-1,NaN,0,NaN,24